body{
  font-family:Arial;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:#f1f5f9;
}

.slider{
  display:flex;
  align-items:center;
  gap:10px;
}

img{
  border-radius:8px;
}
